<p id="notice"><%= notice %></p>

<h1>Listing Posts <%= link_to 'New Post', new_post_path, class: "btn btn-default pull-right" %></h1>
<hr>
<% @posts.each do |post| %>
  <h3><%= link_to post.name, post %></h3>
  <p><i><%= link_to "by #{post.user.full_name}", user_path(id: post.user.id) %></i></p>
  <p><%= post.content.truncate_words(30) %></p>

  <%= link_to "comments (#{post.comments.count})", post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr>
<% end %>
